html
	head
		title  Video 

		<link rel="stylesheet" type="text/css" href="css/estilo.css">
		body


			header
				<div id="logotipo"> <a ref=""> Pug   <img class="MTB" src="imagenes/pug.png" alt="pug #1" ></a>
					<div class="id_nav">
						<nav >
							<ul>
								<li> <a href="index.html"> Inicio </a></li>
								<li> <a href="index2.html"> Instalación </a></li>
								<li> <a href="index3.html"> Video </a></li>
								<li> <a href="index4.html"> Acerca de Pug... </a></li>
							</ul>
						</nav>
					</div>
				</div>
		<section id="w">         
			<section id="Bienvenidos"> 
					article
							hgroup
								p
									ul
										<br><div class="cuatro"> <li  id="p1">  Vídeo Tutorial</li>  
											<p class="cuatro"><iframe width="560" height="315" src="https://www.youtube.com/embed/n3sql5rpMEE" frameborder="0" allowfullscreen></iframe>

										
										
			</section >


				
	

