html
	head
		title  Acerca de Pug... 

		<link rel="stylesheet" type="text/css" href="css/estilo.css">
		body


			header
				<div id="logotipo"> <a ref=""> Pug   <img class="MTB" src="imagenes/pug.png" alt="pug #1" ></a>
					<div class="id_nav">
						<nav >
							<ul>
								<li> <a href="index.html"> Inicio </a></li>
								<li> <a href="index2.html"> Instalación </a></li>
								<li> <a href="index3.html"> Video </a></li>
								<li> <a href="index4.html"> Acerca de Pug... </a></li>
							</ul>
						</nav>
					</div>
				</div>
		<section id="w">         
			<section id="Bienvenidos"> 
					article
							hgroup
								p
									ul
										<br><div class="box" class="cinco"> <li  id="p1">  ¿Porqué fué el cambio de nombre?</li><br>  
											<p class="cinco"> Es ahora llamado pug, lo que antes era conocido como “jade” pero como este nombre ya era una marca registrada, tras luego de una demanda los dueños de jade decidieron no continuar con ese nombre para su programa, entonces eligieron llamarlo Pug por su fácil y corto no nombre.</p></div>
										
			</section >


				
	

